<h1>JEFFREY</h1>
<h5> WE MISS YOU!</h5>

<br>

<% @users.each do |user| %>

  <div class="wrapper">

  		<div class="col_third hover panel">
          <div class="front box1">
            <p><%= user.name %></p>
          </div>
          <div class="back box2">
            <p><%= user.note %></p>
          </div>
        </div>
  	 </div>

  </div>

<% end %>
