
/* General Body Styling*/
  h1 {
    font-family:helvetica neue,helvetica,arial,sans-serif;
    font-size:35px;
    font-weight:200;
    color:#a9a9a9;
    margin:50px auto 20px auto;
  }

  h5 {
    font-family:helvetica neue,helvetica,arial,sans-serif;
    font-size:15px;
    font-weight:200;
    color:#a9a9a9;
  }

  body {
  	background-color: #ecf0f1;
  	font-family: Arial, Tahoma;
  	font-size: 20px;
  	color: #666666;
  	text-align: center;
  }

  p { color: #ffffff; }

  .black-text {
    color: black;
  }


/* Column Grids */
  .col_third {
    width: 28%;
  	float: left;
  	margin-right: 2%;
    padding-left: 5%;
  }

  .end { margin-right: 0 !important; }


/* Flip Panel */
  .wrapper{ width: 1100px; margin: 0 auto;  background-color: #bdd3de; hoverflow: hidden;}

  .panel {
  	margin: 0 auto;
  	height: 250px;
  	position: relative;
  	perspective: 600px;
  }

  .panel .front {
  	position: absolute;
  	transform: rotateX(0deg) rotateY(0deg);
  	backface-visibility: hidden;
  	transition: all .5s ease-in-out;
  }

  .panel .back {
  	position: absolute;
  	transform: rotateY(-180deg);
  	backface-visibility: hidden;
  	transition: all .5s ease-in-out;
  }
  .panel.flip .front {
  	transform: rotateY(180deg);
  }
  .panel.flip .back {
  	transform: rotateX(0deg) rotateY(0deg);
  }

  .panel.flip{
    z-index:1;
  }

/* Box Styling */
  .box1{
  	background-color: #14bcc8;
  	width: 250px;
  	height: 150px;
  	margin: 0 auto;
  	padding: 20px;
  	border-radius: 10px;
  	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  }

  .box2{
  	background-color: #ff7e70;
  	width: 250px;
  	margin: 0 auto;
  	padding: 20px;
  	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  }
